<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.ZhanneixinMapper">
  <resultMap id="BaseResultMap" type="com.entity.Zhanneixin">
    <id column="id" jdbcType="INTEGER" property="id" />
	<result column="shoujianren" jdbcType="VARCHAR" property="shoujianren" />    <result column="neirong" jdbcType="VARCHAR" property="neirong" />    <result column="wenjian" jdbcType="VARCHAR" property="wenjian" />    <result column="fasongren" jdbcType="VARCHAR" property="fasongren" />    
    <result column="addtime" jdbcType="VARCHAR" property="addtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, shoujianren,neirong,wenjian,fasongren, addtime
  </sql>
  <select id="quchongZhanneixin"  parameterType="java.util.Map" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from zhanneixin 
    where fasongren = #{fasongren,jdbcType=VARCHAR} limit 0,1
  </select>
 <select id="getCount"   resultType="int" parameterType="java.util.Map" >
    select  count(*) from zhanneixin  where 1=1
    <if test="shoujianren!=null">and shoujianren like  concat('%',#{shoujianren,jdbcType=VARCHAR},'%')</if>     <if test="neirong!=null">and neirong like  concat('%',#{neirong,jdbcType=VARCHAR},'%')</if>     <if test="wenjian!=null">and wenjian like  concat('%',#{wenjian,jdbcType=VARCHAR},'%')</if>     <if test="fasongren!=null">and fasongren like  concat('%',#{fasongren,jdbcType=VARCHAR},'%')</if>     
  </select> 
  <select id="getAll"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from zhanneixin  where 1=1
    <if test="fasongren!=null">
    and fasongren =#{fasongren}
    </if>
  </select>
  
  <select id="getsyzhanneixin1"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from zhanneixin  where 1=1
    limit 0,5
  </select>
  <select id="getsyzhanneixin2"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from zhanneixin  where 1=1
    limit 0,5
  </select>
  <select id="getsyzhanneixin3"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from zhanneixin  where 1=1
    limit 0,5
  </select>
  
   <select id="getByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
     select  <include refid="Base_Column_List" /> 
     from zhanneixin where 1=1 
     <if test="shoujianren!=null">and shoujianren like  concat('%',#{shoujianren,jdbcType=VARCHAR},'%')</if>     <if test="neirong!=null">and neirong like  concat('%',#{neirong,jdbcType=VARCHAR},'%')</if>     <if test="wenjian!=null">and wenjian like  concat('%',#{wenjian,jdbcType=VARCHAR},'%')</if>     <if test="fasongren!=null">and fasongren like  concat('%',#{fasongren,jdbcType=VARCHAR},'%')</if>     
	 order by id desc
     <if test="pageno!=null and pageSize!=null">
     limit #{pageno},#{pageSize}
     </if>
     </select>
	 
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from zhanneixin
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from zhanneixin
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Zhanneixin">
    insert into zhanneixin (id, shoujianren,neirong,wenjian,fasongren, addtime)
    values (#{id,jdbcType=INTEGER}, #{shoujianren,jdbcType=VARCHAR},#{neirong,jdbcType=VARCHAR},#{wenjian,jdbcType=VARCHAR},#{fasongren,jdbcType=VARCHAR}, #{addtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Zhanneixin">
    insert into zhanneixin
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="shoujianren != null"> shoujianren, </if>      <if test="neirong != null"> neirong, </if>      <if test="wenjian != null"> wenjian, </if>      <if test="fasongren != null"> fasongren, </if>      
      <if test="addtime != null">
        addtime,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="shoujianren != null"> #{shoujianren,jdbcType=VARCHAR},</if>      <if test="neirong != null"> #{neirong,jdbcType=VARCHAR},</if>      <if test="wenjian != null"> #{wenjian,jdbcType=VARCHAR},</if>      <if test="fasongren != null"> #{fasongren,jdbcType=VARCHAR},</if>      
      <if test="addtime != null">
        #{addtime,jdbcType=VARCHAR},
      </if>
      
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Zhanneixin">
    update zhanneixin
    <set>
	  <if test="shoujianren != null"> shoujianren = #{shoujianren,jdbcType=VARCHAR},</if>      <if test="neirong != null"> neirong = #{neirong,jdbcType=VARCHAR},</if>      <if test="wenjian != null"> wenjian = #{wenjian,jdbcType=VARCHAR},</if>      <if test="fasongren != null"> fasongren = #{fasongren,jdbcType=VARCHAR},</if>      
      <if test="addtime != null">
        addtime = #{addtime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  
  <update id="updateByPrimaryKey" parameterType="com.entity.Zhanneixin">
    update zhanneixin
    set shoujianren = #{shoujianren,jdbcType=VARCHAR},neirong = #{neirong,jdbcType=VARCHAR},wenjian = #{wenjian,jdbcType=VARCHAR},fasongren = #{fasongren,jdbcType=VARCHAR},  addtime = #{addtime,jdbcType=VARCHAR} where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
